
@import "./Variables";

h2.text--contact{
    font-family: $font2;
    font-size: $size6;
    text-align: center;
    margin-left: 40px;
}

section.contact{
    background-image: url(../Assets/img/fondocontactogif.gif);
    margin-top: 76px;
    padding: 30px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

div.index-contacto__titulo{
    font-size: $size5;
    padding: 20px;
    text-align: center;
    align-items: center;
}



.form-group{
    color: $color2;
}

.btn {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.199);
    background-color: rgb(0, 0, 255);
    color: $color1;
    width: 150px;
}

section.como--llegar{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 30px 0;
}

a.como--llegar__link{
    align-items: center;
    color: $color3;
}

h3.como--llegar__title{
    font-size: $size2;
    font-family: $font2;
    margin-top: 10px;
}

@media only screen and (max-width:767px){
    

    iframe.map{
        display: none;
    }

    h2.text--contact{
        margin-left: 0px;
    }
}

@media only screen and (min-width:768px){

    section.como--llegar{
        display: none;
    }
}
