
@import "./Variables";

h2.nosotros--title{
    font-family: $font2;
}


section.sobre--nosotros {
    margin-top: 100px;
    width: 100%;
    min-height: 800px;
}

div.section--nosotros{
    margin: 20px;
}

div.nosotros__texto{
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

img.img-fluid{
    border-radius: 8px;
}

p.texto__bold{
    font-weight: bold;
}
