
@import "./Variables";



img.proms{
	height: 250px;
	border-radius: 8px;
}


@media only screen and (max-width:767px){

    .tarjeta-wrap{
        margin: 30px;
    }
}


/* Section Formas de pago */

h2.forma--pago__titulo{
    font-size: $size6;
    text-align: center;
    font-family: $font1;
}

section.forma--pago{
    width: $var1;
    height: $var1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div.pago{
        width: 230px;
        height: 230px;
        border-radius: 8px;
        box-shadow: $shadow4;
        overflow: hidden;
        margin: 60px 20px 60px 20px;
        text-align: center;
    }
}

img.pays{
	height: 230px;
}