
@import "./Variables";

/* Section Promociones */

.wrap{
	margin: 80px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
    flex-wrap: wrap;
}

.tarjeta-wrap{
	margin: 40px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 250px;
	height: 250px;
    border-radius: 8px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: $shadow3;
	box-shadow: $shadow3;
}

.adelante, .atras{
	width: $var1;
	height: $var1;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: $var1;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: $color2;
	font-family: $font1;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(/Assets/img/Fondos/Promo1.png);
	background-size: cover;
    border-radius: 8px;
}

.card2{
	background-image: url(../Assets/img/Fondos/Promo2.png);
	background-size: cover;
    border-radius: 8px;
}

.card3{
	background-image: url(../Assets/img/Fondos/Promo3.png);
	background-size: cover;
    border-radius: 8px;
}


@media only screen and (max-width:767px){

    .tarjeta-wrap{
        margin: 30px;
    }
}


/* Section Formas de pago */

h2.forma--pago__titulo{
    font-size: $size6;
    text-align: center;
    font-family: $font1;
}

section.forma--pago{
    width: $var1;
    height: $var1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div.pago{
        width: 230px;
        height: 230px;
        border-radius: 8px;
        box-shadow: $shadow4;
        overflow: hidden;
        margin: 60px 20px 60px 20px;
        text-align: center;
    }
        div.pagos1{
            background-image: url(../Assets/img/Fondos/Pagos1.jpg);
            background-size: cover;
            background-position: center;
        }
        div.pagos2{
            background-image: url(../Assets/img/Fondos/Pagos2.jpg);
            background-size: cover;
            background-position: center;
        }
        div.pagos3{
            background-image: url(../Assets/img/Fondos/Pagos3.png);
            background-size: cover;
            background-position: center;
        }
}