
@import "./Variables";

#search{
    border: none;
    border-radius: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


//Carrito

button#boton-carrito{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: -5px;
    margin-left: 10px;
    background: none;
    border: none;
}


#boton-carrito i{
    color: $color2;
    font-size: 30px;
}

span#contadorCarrito{
    color: $color1;
    font-size: 15px;
    background-color: $color3;
    padding: 3px 9px 3px;
    border-radius: 100%;
    margin-left: -9px;
    margin-top: 30px;
}


#movil--cart{

    position: fixed;
    z-index: 4;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 12px;
    right: 90px;
    color: $color2;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
}

//Fin carrito

//Nav categorias

div.select--categoria{
    height: 50px;
    margin: 100px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

a.categorias{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: 100%;
    height: 70px;
    color: black;
    box-shadow: 3px 3px 9px  rgba(134, 134, 134, 0.2);
    border-radius: 20px;
}

.categ{
    margin-top: 20px;
    align-self: center;
}

img.categoria--imagen{
    width: 30px;
    float: left;
    align-items: center;
}

div.categ p{
    margin-right: 10px;
    float: right;
    margin-left: 30px;
    font-family: $font2;
}

//Fin Nav categorias


//Carrito emergente

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: $color1;
    border-radius: 30px;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all 0.5s;
    font-family: $font1;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: $color2;
    padding-bottom: 5px;
    font-family: $font2;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: $color2;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
}
.card .card-image .card-title {
    color: $color2;
    position: unset;
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid $color3;
}

.boton-eliminar {
    background-color: white;
    color: $color2;
    border: none;
    font-size: 20px;
}

button.ver__carrito{
    width: 50%;
    height: 35px;
    margin-left: 25%;
    border: none;
    color: $color1;
    background-color: $color3;
    box-shadow: $shadow2;
    border-radius: 10px;
}

span#precioTotal{
    font-size: 20px;
}

button.ver__carrito:hover{
    background-color: rgb(0, 0, 113);
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.img--carrito{
    height: 55px;
}

  //Fin carrito emergente


@media only screen and (max-width:767px){

    div.carrito{
        display: none;
    }

    div.select--categoria{
        margin: 90px 30px 120px 30px;
        display: grid;
        grid-template-columns: auto;
    }

    a.categorias{
        align-items:flex-start;
    }

        
    div.categ p{
        margin-left: 20px;
    }


    #search{
        display: none;
    }

    section#container--productos{
        margin-top: 370px;
    }

    #collapsibleNavbar{
        justify-content: flex-end;

    }

}

@media only screen and (min-width:768px){

    .carrito__movil{
        display: none;
    }

    section#container--productos{
        margin-top: 80px;
    }

    div.categ p{
        margin-left: 10px;
    }
}