
@import "./Variables";


div.carrito{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: -5px;
    margin-left: 10px;
}


.carrito i{
    color: $color2;
    font-size: 30px;
}

.contador{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: -5px;
    margin-top: 30px;
    background-color:  $color3;
    /* position: absolute;  */
}

.contador p{
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin-top: 0.19rem;
    color: $color1;
}

#movil--cart{

    position: fixed;
    z-index: 4;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 12px;
    right: 90px;
    color: $color2;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
}

div.select--categoria{
    height: 300px;
    margin: 120px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

a.categorias{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: 100%;
    height: 70px;
    color: black;
    box-shadow: 3px 3px 9px  rgba(134, 134, 134, 0.2);
    border-radius: 20px;
}

img.categoria--imagen{
    width: 60px;
    float: left;
    margin-left: 140px;
    align-items: center;
}

div.categ p{
    margin-right: 10px;
    float: right;
    margin-left: 70px;
    margin-top: 20px;
    font-family: $font2;
}

@media only screen and (max-width:767px){

    div.carrito{
        display: none;
    }

    div.select--categoria{
        margin: 90px 30px 120px 30px;
        display: grid;
        grid-template-columns: auto;
    }

    a.categorias{
        align-items:flex-start;
    }

        
    div.categ p{
        margin-left: 20px;
    }

}

@media only screen and (min-width:768px){

    .carrito__movil{
        display: none;
    }
}