/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */


/* Import pages */


@import "./scss/variables";

@import "./scss/contacto";

@import "./scss/productos";

@import "./scss/nosotros";

@import "./scss/promos";

@import "./scss/index";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
}

/* Navbar */

li a:hover{
    background-color: $shadow1;
}

#navbar{
    color: $color1;
}

li.nav-item{
    padding: 0px 15px 0px 15px;
}

/* Boton whatsapp */

.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

/* Footer */

footer{
    background-color: $color2;
    display: flex;
    min-height: 150px;
    width: $var1;
    bottom: 0;
    color: $color1;
    text-align: center;
    flex-direction: column;
}
p.contacto{
    font-size: $size3;
    padding: 10px;
}
div.redes{
    font-size: $size3;
    padding: 10px;

}

div.redes a{
    text-decoration: none;
    color: $color1;
}


@media only screen and (min-width:768px){
.logo--cel{
    display: none;
}

footer{
    padding: 20px;
}
}


@media only screen and (max-width:767px){

/* Navbar */

    .logo--web{
        display: none;
    }
}
