@charset "UTF-8";
/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* Import pages */
/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* Variables inicio */
/* Fuentes */
/*tamaños*/
/*paleta de colores*/
/*sombras*/
/*bordes*/
/* Variables fin */
/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* Variables inicio */
/* Fuentes */
/*tamaños*/
/*paleta de colores*/
/*sombras*/
/*bordes*/
/* Variables fin */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&display=swap");
h2.text--contact {
  font-family: "Orbitron", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-left: 40px;
}

section.contact {
  background-image: url(./Assets/img/fondocontactogif.gif);
  margin-top: 76px;
  padding: 30px;
  text-align: center;
  background-size: cover;
  background-position: center;
}

div.index-contacto__titulo {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.form-group {
  color: rgb(0, 0, 0);
}

.btn {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.199);
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  width: 150px;
}

section.como--llegar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 30px 0;
}

a.como--llegar__link {
  align-items: center;
  color: rgb(1, 3, 246);
}

h3.como--llegar__title {
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  iframe.map {
    display: none;
  }

  h2.text--contact {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 768px) {
  section.como--llegar {
    display: none;
  }
}
/* Import fonts */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* Variables inicio */
/* Fuentes */
/*tamaños*/
/*paleta de colores*/
/*sombras*/
/*bordes*/
/* Variables fin */
/* Main productos */
section#container--productos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.card {
  max-width: 230px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  margin: 20px 20px 30px;
}

#container--productos .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#container--productos .card img {
  height: 160px;
}

#container--productos .card h4 {
  font-weight: 600;
  font-size: 20px;
}

#container--productos .card p {
  font-size: 14px;
  font-weight: 300;
  line-height: 0.8;
}

#container--productos .card a {
  font-weight: 500;
  text-decoration: none;
  color: #349;
}

button.agregar__prod {
  width: 70%;
  height: 35px;
  background-color: rgba(5, 5, 223, 0.742);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  border-color: rgba(5, 5, 223, 0.742);
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.199);
}

.agregar__prod i {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 7px;
  margin-left: 35px;
}

/* Import fonts */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* Variables inicio */
/* Fuentes */
/*tamaños*/
/*paleta de colores*/
/*sombras*/
/*bordes*/
/* Variables fin */
/* Section Promociones */
section.container--promos {
  margin-top: 80px;
}

.card__promo {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  margin: 3rem;
}

.card__promo:before,
.card__promo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  transition: 0.5s;
  z-index: -1;
}

.card__promo .img__promo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  background: rgb(255, 255, 255);
  transition: 0.5s;
  z-index: 1;
}

.card__promo:hover .img__promo {
  bottom: 5rem;
}

.card__promo .img__promo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__promo .details {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  text-align: center;
}

.card__promo .details p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

/* Section Formas de pago */
h2.forma--pago__titulo {
  font-size: 24px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

section.forma--pago {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.forma--pago div.pago {
  width: 230px;
  height: 230px;
  border-radius: 8px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 60px 20px 60px 20px;
  text-align: center;
}

img.pays {
  height: 230px;
}

/* Import fonts */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* Variables inicio */
/* Fuentes */
/*tamaños*/
/*paleta de colores*/
/*sombras*/
/*bordes*/
/* Variables fin */
main {
  width: 100%;
  height: 100%;
}

#demo {
  margin-top: 76px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

section.contenedor1 {
  display: grid;
  grid-template-areas: "cascos bolsos cubiertas" "cascos indumentaria aceites";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  margin: 120px;
}

a.img--main {
  min-height: 200px;
  border-radius: 10px;
}

.cascos {
  grid-area: cascos;
  background-image: url(./Assets/img/Fondos/cascoimg.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.329);
}

.bolsos {
  grid-area: bolsos;
  background-image: url(./Assets/img/Fondos/valijaimg.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.329);
}

.cubiertas {
  grid-area: cubiertas;
  background-image: url(./Assets/img/Fondos/cubiertaimg.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.329);
}

.indumentaria {
  grid-area: indumentaria;
  background-image: url(./Assets/img/Fondos/indumentariaimg.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.329);
}

.aceites {
  grid-area: aceites;
  background-image: url(./Assets/img/Fondos/aceiteimg.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.329);
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 60px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* Comentarios clientes */
h2.comentarios__clientes {
  font-family: "Orbitron", sans-serif;
  font-style: bold;
}

.index-reviews {
  margin: 1rem;
  margin-top: -5rem;
  text-align: center;
}
.index-reviews h2 {
  padding: 2rem;
}
.index-reviews .index-reviews__card {
  padding: 3rem;
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
  margin: 1rem;
  border-radius: 8px;
}
.index-reviews .index-reviews__card:hover {
  box-shadow: rgb(1, 3, 246) 0px 0px 0px 2px, rgb(1, 3, 246) 0px 4px 6px -1px, rgb(1, 3, 246) 0px 1px 0px inset;
}
.index-reviews .index-reviews__card h2.cliente {
  color: rgb(1, 3, 246);
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
  transition: color 0.45s ease;
  text-transform: uppercase;
  transition: color 0.45s ease;
  border-top: 1px solid rgb(88, 88, 88);
  padding: 1rem;
}
.index-reviews .index-reviews__card p.comentario {
  color: rgb(255, 255, 255);
  line-height: 1.8;
}
.index-reviews .index-reviews__card .card__icon i {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  /* Main index*/
  #demo {
    display: none;
  }

  section.contenedor1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 88px;
    margin: 0;
    margin-top: 70px;
    padding: 10px;
  }

  .cascos {
    background-image: url(./Assets/img/Fondos/cascochico.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.329);
  }

  h2.comentarios__clientes {
    font-size: 20px;
    margin-top: 100px;
  }

  h2.cliente {
    font-size: 18px;
    text-align: center;
  }
}
/* Import fonts */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* Variables inicio */
/* Fuentes */
/*tamaños*/
/*paleta de colores*/
/*sombras*/
/*bordes*/
/* Variables fin */
button#boton-carrito {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: -5px;
  margin-left: 10px;
  background: none;
  border: none;
}

#boton-carrito i {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

span#contadorCarrito {
  color: rgb(255, 255, 255);
  font-size: 15px;
  background-color: rgb(1, 3, 246);
  padding: 3px 9px 3px;
  border-radius: 100%;
  margin-left: -9px;
  margin-top: 30px;
}

#movil--cart {
  position: fixed;
  z-index: 4;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 12px;
  right: 90px;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
}

div.select--categoria {
  height: 50px;
  margin: 100px 30px 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

a.categorias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 70px;
  color: black;
  box-shadow: 3px 3px 9px rgba(134, 134, 134, 0.2);
  border-radius: 20px;
}

.categ {
  margin-top: 20px;
  align-self: center;
}

img.categoria--imagen {
  width: 30px;
  float: left;
  align-items: center;
}

div.categ p {
  margin-right: 10px;
  float: right;
  margin-left: 30px;
  font-family: "Orbitron", sans-serif;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(0, 0, 0);
  padding-bottom: 5px;
  font-family: "Orbitron", sans-serif;
}

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border: none;
  background-color: white;
}

.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
  outline: none;
}

.modal-carrito .precioProducto {
  padding-top: 10px;
}

.card .card-image .card-title {
  color: rgb(0, 0, 0);
  position: unset;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(1, 3, 246);
}

.boton-eliminar {
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 20px;
}

button.ver__carrito {
  width: 50%;
  height: 35px;
  margin-left: 25%;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 3, 246);
  box-shadow: rgba(151, 151, 151, 0.329);
  border-radius: 10px;
}

span#precioTotal {
  font-size: 20px;
}

button.ver__carrito:hover {
  background-color: rgb(0, 0, 113);
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

@media only screen and (max-width: 767px) {
  div.carrito {
    display: none;
  }

  div.select--categoria {
    margin: 90px 30px 120px 30px;
    display: grid;
    grid-template-columns: auto;
  }

  a.categorias {
    align-items: flex-start;
  }

  div.categ p {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .carrito__movil {
    display: none;
  }
}
/* Import fonts */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* Variables inicio */
/* Fuentes */
/*tamaños*/
/*paleta de colores*/
/*sombras*/
/*bordes*/
/* Variables fin */
/* Alert no hay productos*/
/* .noHayProductos{
    position: fixed;
    z-index: 9000;
    top: 0rem;
    right: 10%;
    width: 32rem;
    height: 5rem;
    background-color: rgb(252, 243, 228);
    border: 4px solid #41260f;
    filter: drop-shadow(.5px .5px 2px rgb(255, 255, 255) );
    padding:  1rem;
    border-radius:15px;
    transition: all .5s ease-in-out;
    opacity: 0;

}

.noHayProductos-active{
    position: fixed;
    top: 6.5rem;
    z-index: 9000;
    right: 10%;
    width: 32rem;
    height: 5rem;
    background-color: rgb(252, 243, 228);
    border: 6px solid #41260f;
    filter: drop-shadow(.5px .5px 2px rgb(255, 255, 255) );
    border: 2px solid ;
    padding: 1.2rem 1rem;
    border-radius:15px;
    transition: all .5s ease-in-out;
    opacity: 1;
}

.noHayProductos p{
    font-size: 1.8rem;
    color: #41260f;
    font-weight: bold;
}
 */
div.container__carrito {
  margin-top: 50px;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
  background-image: url(../tienda/imgtienda/carrito/fondocarrito.png);
  background-size: cover;
}

.carrito__compras {
  color: rgb(88, 88, 88);
  height: 500px;
  width: 650px;
  overflow: auto;
  text-align: center;
  margin-top: 30px;
  box-shadow: 0 0 1rem black;
  border-radius: 20px;
  position: relative;
  background-color: rgba(255, 251, 244, 0.525);
}

.carrito__vacio--container {
  position: absolute;
  width: 100%;
  top: 47%;
}

.carrito__compras::-webkit-scrollbar {
  display: none;
}

i.carrito__vacio--icon {
  font-size: 100px;
  padding: 30px;
  margin-top: -130px;
}

.info__text p {
  font-size: 25px;
  font-family: "Orbitron", sans-serif;
}

.info__text--secundario p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/* resumen */
.container__resumen {
  width: 30%;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.resumen {
  background-color: rgba(255, 251, 244, 0.525);
  box-shadow: 0 0 1rem black;
  color: rgb(0, 0, 0);
  width: 100%;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: initial;
  flex-wrap: wrap;
}

.resumen__title p {
  font-size: 25px;
  padding: 1.2rem;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin-top: 10px;
}

.line {
  width: 90%;
  border: 2px solid rgb(1, 3, 246);
  text-align: center;
  margin-left: 1rem;
}

span {
  color: #000000;
}

.text_total {
  font-size: 25px;
  padding: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

#precioTotal {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  right: 2%;
  padding: 0 2rem;
}

/* Botones */
.siguiente {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-color: #fff3e4;
  border: 0;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.199);
  color: rgb(0, 0, 0);
  font-weight: 700;
  cursor: pointer;
  height: 42px;
  line-height: 1;
  padding-left: 10px;
  padding-right: 10px;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 18px;
  margin-top: 2rem;
}

.vaciar {
  width: 12rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.comprar {
  width: 12rem;
  background-color: rgb(1, 3, 246);
  color: white;
}

.vaciar:hover {
  background-color: rgb(223, 223, 223);
}

.comprar:hover {
  background-color: rgb(0, 0, 113);
}

.carrito__productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carrito__productos {
  display: none;
}

#section2 {
  display: none;
}

.container__form {
  margin-top: 76px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(../tienda/imgtienda/carrito/fondo1.jpeg);
  background-size: cover;
  background-position: right;
}

.container__form form {
  padding: 3rem 0;
  border-radius: 30px;
  margin: 1rem;
  background-color: rgba(255, 251, 244, 0.826);
  width: 70%;
}

.primer--dato {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  padding: 20px;
}

.complete {
  color: red;
  font-weight: 500;
  margin-left: 0.5rem;
}

.container1, .container2, .container3, .container4, .container5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 200px;
}

.input-field.abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 20%;
  margin: 4rem 0;
  padding: 0 4rem;
}

.input-field label {
  font-size: 1.2rem;
  position: absolute;
  margin-top: -2rem;
  margin-left: 1rem;
  letter-spacing: 1px;
  font-style: italic;
}

.input-field i {
  margin-top: 1rem;
  font-size: 30px;
}

.input-field input {
  margin-top: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  height: 3rem;
  font-size: 1.5rem;
  background: none;
  width: 30rem;
  font-weight: bold;
}

.input-field input:hover {
  border-color: rgb(1, 3, 246);
}

.material-icons {
  color: rgb(0, 0, 0);
  padding: 0 1.5rem;
}

.enviar {
  align-items: center;
  appearance: none;
  background-color: rgb(1, 3, 246);
  border: 0;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.199);
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
  height: 42px;
  width: 15rem;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 18px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.enviar:hover {
  background-color: rgb(0, 0, 104);
}

.center-align {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.enviar span {
  font-size: 20px;
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.enviar a {
  text-decoration: none;
}

.provinciaCheck select, .localidadCheck select {
  width: 30rem;
  height: 2.5rem;
  margin-top: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Navbar */
li a:hover {
  background-color: rgba(151, 151, 151, 0.11);
  border-radius: 8px;
}

#navbar {
  color: rgb(255, 255, 255);
  z-index: 3;
}

li.nav-item {
  padding: 0px 15px 0px 15px;
}

/* Boton whatsapp */
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

/* Footer */
footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  min-height: 150px;
  width: 100%;
  bottom: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  flex-direction: column;
}

p.contacto {
  font-size: 16px;
  padding: 10px;
}

div.redes {
  font-size: 16px;
  padding: 10px;
}

div.redes a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 768px) {
  .logo--cel {
    display: none;
  }

  footer {
    padding: 20px;
  }
}
@media only screen and (max-width: 767px) {
  /* Navbar */
  .logo--web {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
